 .NewsSmall img{
    width: 40%;
    object-fit: cover;
    height: 100px;
     transition: 0.2s;
}
 .NewsSmall img:hover{
     transform: scale(1.05);
 }
.NewsSmall{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

